# GENERAL PACKAGES
cloudpickle==2.0.0
fastapi==0.71.0
gunicorn==20.1.0
PyYAML==6.0
uvicorn==0.17.5

# DATA SCIENCE PACKAGES
category-encoders==2.2.2
numpy==1.21.4
pandas==1.3.4
scikit-learn==1.0.2

# SPECIFIC API PACKAGES
tmdbv3api==1.7.6
IMDbPY==2021.4.18
omdb==0.10.1
rotten-tomatoes-scraper==1.4.0